<!DOCTYPE html>
<html>
<head>
<style>
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
  }

  td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }
  .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }

  .button2 {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>

  <h2>Data Teacher</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Mata Pelajaran</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Maria Anders</td>
      <td>Javascript</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Francisco Chang</td>
      <td>Vue Js</td>
      <td>Mexico</td>
    </tr>
    <tr>
      <td>Roland Mendel</td>
      <td>Express Js</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Helen Bennett</td>
      <td>Sequelize</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>Yoshi Tannamuri</td>
      <td>MoongoDB</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Giovanni Rovelli</td>
      <td>React Native</td>
      <td>Italy</td>
    </tr>
  </table>
  <br>
  <a href="/" class="button button2" >Back to home</a>

</body>
</html>
