<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Student</title>
  <style>
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Hallo, <%= name %></h1>
  <br>
  <h2>Biodata</h2>
  <h3>Name: <%= name %> </h3>
  <h3>Name: <%= birthday %> </h3>
  <h3>Email: <%= email %> </h3>
  <a href="/" class="button">Back to Home</a>
</body>
</html>