    <html>
    <head>
      <title>
        THS
      </title>
    </head>
    <body>
        <h1>Technische Hoogeschool te Bandoeng</h1>
        <p>Welcome to THS. Please submit your detail:</p>
      <li><a href='/student-form'>Students</a></li>
      <li><a href="/teachers">Teachers</a></li>
      </div>
    </body>
    </html>