<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Homepage</title>
</head>
<body>
    <h1>Student Homepage</h1>
    <a href="/student">Student Form</a> <a href="/teacher">Teacher Page</a>
</body>
</html>