<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOMEPAGE</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top: 100px;">
        <h2 class="text-center">FORM ADD DATA STUDENTS</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
            <!--Form with header-->
                <form action="#" method="post">
                    
                    <div class="card border-primary rounded-0">
                        <div class="card-header p-0">
                            <div class="bg-info text-white text-center py-2">
                                <h3><i class="fa fa-user"></i> WELCOME</h3>
                                <p class="m-0">HARLES BAYU ANGGARA</p>
                            </div>
                        </div>
                        
                        <div class="card-body p-3">
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-square text-info"></i></div>
                                    </div>
                                        <input type="text" class="form-control" id="" name="" placeholder="First Name" required>
                                </div>
                            </div>
                    
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-square text-info"></i></div>
                                    </div>
                                    <input type="email" class="form-control" id="" name="" placeholder="Last Name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-square text-info"></i></div>
                                    </div>
                                    <input type="email" class="form-control" id="" name="" placeholder="Gender" required>
                                </div>
                            </div>

                            <div class="text-center">
                                <input type="submit" value="Add Student" class="btn btn-info btn-block rounded-0 py-2">
                            </div>
                        </div>
                    </div>
                </form>

                <div style="margin-top: 20px;">
                    <a href="http://localhost:3000/student">
                            <button class="btn btn-primary" type="submit">TEACHERS LIST</button>
                    </a>
                    <a href="http://localhost:3000/teachers">
                            <button class="btn btn-primary" type="submit">STUDENTS LIST</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>