<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Susan Nio School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/style.css" />
    <link rel="icon" type="img/png" media="screen" href="assets/susannio-logo.png" />
    <!-- <script src=""></script> -->
</head>
<body>
    <!-- Start Navigation Bar -->
    <nav id="home">
        <div class="container">
            <div class="topleft">
                <span class="brand"><a href="#home">Susan Nio</a><span>
            </div>
            <ul>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/student">Sign Up</a></li>
                <li><a href="/teacher">Teachers</a></li>
                <li><a href="#aboutme">About Us</a></li>
             </ul>  
            <div class="clearfix"></div>     
        </div>
    </nav>
    <!-- End Navigation Bar -->

    <!-- Start Welcome Section -->
    <section class="welcome">
        <div id="intro">
            <div class="welcome-content-area">
                <h1>WELCOME</h1>
                <h3>TO SUSAN NIO SCHOOL</h3>
            </div>
         </div>
    </section>
    <!-- End Welcome Section -->

    <!-- Start About Me Section -->
    <a class="anchor" id="aboutme"></a>
    <section class="about">
        <h3 class="title">About Us</h3>
        <p>At SN School we innovate, we push the frontiers of understanding;</p>
        <br>
        <p>we ask new research questions, we turn theory through experiment into practice</p>
        <br>
        <p>because that’s what great universities do</p>
        <br>
        <hr>
        <!-- <img src="https://images.unsplash.com/photo-1522199670076-2852f80289c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab630f082590b51249a9df9975164eb2&auto=format&fit=crop&w=1352&q=80" alt="getting things done"> -->
        <div id="about">
                <i class="fa fa-university"></i>   the University of SN<br>
                We aim to be an outstanding university at which to be a student. <br>
                We concentrate on helping students achieve their potential, and <br>
                place great importance on combining enduring human values with true <br>
                professionalism. We make it clear from the beginning <br>
                that we have high expectations of our students and staff, and we will <br>
                offer you every support to achieve that goal.<br>
            
          
            <i class="fa fa-graduation-cap"></i> We have more than 1000000 graduates since 2010.</strong><br>
        </div>
    </section>
    <!-- End About Me Section -->
    <a class="anchor" id="contact"></a>
    <footer>
        <ul>
            <li><a href="mailto:susan.wen88@gmail.com" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a></li>
        </ul>
    </footer>
</body>
</html>