<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Form</title>
</head>

<body>
    <h1><%= head %></h1>
    <form name="formStudent" action="/student" method="POST">
        First name:
        <br>
        <input type="text" name="fname">
        <br> Last name:
        <br>
        <input type="text" name="lname">
        <br> Address:
        <br>
        <input type="text" name="address">
        <br> Phone Number:
        <br>
        <input type="text" name="phone">
        <br> Email:
        <br>
        <input type="text" name="email">
        <br>
        <br>
        <input type="submit" value="Save">
    </form>
</body>

</html>