<html>
<body>
<h2>Student Form</h2>
    <form action="/student" method="post">
    First name:<br>
    <input type="text" name="firstName">
    <br>
    Last name:<br>
    <input type="text" name="lastName">
    <br><br>
    <input type="submit" value="Submit">
    </form> 
</body>
</html>

