<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Page</title>
</head>
<body>
  <div class="container">
    <!-- <div class="header">
      <ul style="list-style: none">
        <li>Home</li>
        <li>Teachers</li>
        <li>Student</li>
        <li>About</li>
      </ul> -->
    <!-- </div> -->
    <div class="content">
      <form>
        
        <h2>Students Data</h2>
        <p>show all data</p> 
        <label>First Name
          <input type="text"> 
        </label>

        <br>

        <label>Last Name
          <input type="text">
        </label>

        <br>
        
        <label>E-Mail
          <input type="text">
        </label>
        <br>
        <button>Submit</button>

      </form>
    </div>
  </div>
</body>
</html>