<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Students Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <form action="/students" method="POST">
            First Name:
            <br>
            <input type="text" name="First Name" placeholder="First Name">
            <br>
            <br>
            Last Name:
            <br>
            <input type="text" name="Last Name" placeholder="Last Name">
            <br>
            <br>
            Gender:
            <br>
            <div class="custom-select">
                <select name='gender'>
                    <option value="0">Select gender:</option>
                    <option value="1">Female</option>
                    <option value="2">Male</option>
                </select>
            </div>
            <br>
            Birthdate:
            <br>
            <input type="text" name="Birthdate" placeholder="Date of Birth">
            <br>
            <br>
            Email:
            <br>
            <input type="text" name="Email" placeholder="Email">
            <br>
            <br>
            <button type="submit" value="submit">Submit</button>
        </form>
    </div>
    <a href="/"><p>Back to Home</p></a>
</body>
</html>