<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teachers Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1><%= title %></h1>
    <h2><%= message %></h2>
    <table border="1">
        <thead>
            <th>Name</th>
            <th>Department</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr>
                <td>Sven Thor</td>
                <td>History</td>
                <td>sthor@faculty.com</td>
            </tr>
            <tr>
                <td>Jill Ivy</td>
                <td>Chemistry</td>
                <td>ivyjill@faculty.com</td>
            </tr>
            <tr>
                <td>Gaston Blue</td>
                <td>Workshop</td>
                <td>blueg@faculty.com</td>
            </tr>
        </tbody>
    </table>
    <a href="/"><p>Back to Home</p></a>
</body>
</html>