<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1 class="blockquote text-center">Teacher Table</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Lesson</th>
            </tr>
        </thead>
            <tr>
                <td>1</td>
                <td>Budi</td>
                <td>Javascript</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Made</td>
                <td>PHP</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ayu</td>
                <td>Ruby</td>
            </tr>
    </table>
    <br>
    <a href="/">Back</a>
</body>
</html>