<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: grey;
}
</style>
</head>
<body>
<h2>THS Lecturers</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
  </tr>
  <tr>
    <td>M. van Basten</td>
    <td>basten@ths.com</td>
    <td>Civil Engineering</td>
  </tr>
  <tr>
    <td>V. van Dijk</td>
    <td>dijk@ths.com</td>
    <td>Architecture</td>
  </tr>
  <tr>
    <td>D. Kuyt</td>
    <td>kuyt@ths.com</td>
    <td>Mechanical Engineering</td>
  </tr>
  <tr>
    <td>E. van der Sar</td>
    <td>dersar@ths.com</td>
    <td>Electronical Engineering</td>
  </tr>
</table>
<p>
  Je toekomst bij ons ...</p>
</body>
</html>

