<form action="/student" method="post">

    <label for="first_name">First Name:
        <input type="text" name="first_name">
    </label>
    <br/>

    <label for="last_name">Last Name:
        <input type="text" name="last_name">
    </label>
    <br/>

    <label for="gender">Gender:
        <input type="radio" name="gender" value="male"> Male
        <input type="radio" name="gender" value="female"> Female
    </label>
    <br/>

    <label for="birthday"> Birthday
        <input type="date" name="birthday">
    </label>
    <br/>

    <label for="phone"> Phone 
        <input type="text" name="phone">
    </label>
    <br/>

    <label for="email"> Email 
        <input type="email" name="email">
    </label>
    <br/>

    <input type="submit" value="Submit">

</form>