<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher</title>
</head>
<body>
    <h1>Teachers</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
                <%for(teacher of teachers) {%>
                    <tr>
                        <td><%=teacher.id%></td>
                        <td><%=teacher.name%></td>
                    </tr>
                <%}%>
        </tbody>
    </table>
</body>
</html>